body {
    background: url("https://images.unsplash.com/photo-1531169509526-f8f1fdaa4a67?crop=entropy&cs=tinysrgb&fm=jpg&ixid=Mnw3MjAxN3wwfDF8c2VhcmNofDM1fHx0ZXh0dXJlfGVufDB8fHx8MTY3MDQ5MjYwNQ&ixlib=rb-4.0.3&q=80&q=85&fmt=jpg&crop=entropy&cs=tinysrgb&w=450.jpg");
    background-size: 30% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}






h1 {
    position: absolute;
    width: 818px;
    height: 118px;
    left: 500px;
    top: 0px;

    font-family: 'Lucida Fax';
    font-style: normal;
    font-weight: 600;
    font-size: 83px;
    line-height: 0px;
    /* or 0% */

    display: flex;
    text-align: center;
    letter-spacing: -0.05em;
    text-transform: capitalize;

    color: #000000;

    /* text shadow login */

    text-shadow: 8px 8px 20px rgba(0, 0, 0, 0.3);
}

.username{
    position: absolute;
    width: 456px;
    height: 30px;
    left: 530px;
    top: 244px;
    align-items: center;
}

.password{
    position: absolute;
    width: 456px;
    height: 30px;
    left: 530px;
    top: 320px;
    align-items: center;

}

.club{
    position: absolute;
    width: 456px;
    height: 30px;
    left: 530px;
    top: 396px;
    align-items: center;
}

.email{
    position: absolute;
    width: 456px;
    height: 30px;
    left: 530px;
    top: 472px;
    align-items: center;
}

.contact{
    position: absolute;
    width: 456px;
    height: 30px;
    left: 530px;
    top: 548px;
    align-items: center;
}

.form-btn{
    position: absolute;
    width: 286px;
    height: 66px;
    left: 1087px;
    top: 700px;
    
    background: #769BDE;
    opacity: 0.8;
        /* text shadow login */
    
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.3);
    border-radius: 70px;
    
}

